@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Mono:wght@400&display=swap");

:root {
  --text-primary: #0e0e0e;
  --text-secondary: #fefefe;
  --color-visited: #990033;
  --color-hover: #fa0f5a;
  --color-primary: #cc0000;
}

.header {
  display: flex;
  min-height: 40px;
  align-items: center;
  border-bottom: gray solid 1px;
  justify-content: space-between;
}

.header > * {
  width: 100%;
}

.header > :last-child {
  display: flex;
  justify-content: end;
}

.RobotoMono {
  font-family: "Roboto Mono", monospace;
}

.header,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.header a {
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--text-primary);
}

.header a:visited {
  color: #0e0e0e;
}

.header a:hover {
  color: var(--color-hover);
}

.logo svg {
  height: 32px;
  width: 20px;
}
.bar {
  color: #aaa;
}

.logo span {
  padding-left: 8px;
}

.header a:hover {
  transition: all 0.15s ease;
}

.header i {
  font-size: 24px;
  padding: 0 4px;
}

body {
  font-family: "Roboto Mono", monospace;
  color: #0e0e0e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

.body-container {
  max-width: 900px;
}

.icon {
  height: 24px;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:visited {
  color: var(--color-visited);
}

a:hover,
.logo:hover {
  color: var(--color-hover);
}

.post-card {
  border-left: 2px solid black;
  padding-left: 8px;
}

a:visited .post-card {
  color: var(--color-visited);
  border-left-color: var(--color-visited);
}

.post-card p {
  color: var(--text-primary);
}

a:hover .post-card {
  color: var(--color-hover);
  border-left-color: var(--color-hover);
}

@media screen and (max-width: 719px) {
  .body-container {
    max-width: 80vw;
  }
  .header-desktop {
    display: none;
  }
}

@media screen and (min-width: 720px) {
  .header-mobile {
    display: none;
  }
}

.navigation-btn {
  position: relative;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 99;
}

.navigation-btn:hover .line-3,
.navigation-btn.nav-show .line-3 {
  transition: all 0.4s ease;
  transform: rotate(45deg) translateY(-1px);
}

.navigation-btn:hover .line-1,
.navigation-btn.nav-show .line-1 {
  transition: all 0.4s ease;
  transform: translateY(8px) rotate(45deg);
  opacity: 0;
}

.navigation-btn:hover .line-2,
.navigation-btn.nav-show .line-2 {
  transition: all 0.4s ease;
  transform: translateY(-8px) rotate(-45deg);
}

.navigation-btn.nav-show > * {
  background-color: var(--text-secondary);
}

.navigation-btn.nav-show > * {
  transition: all 0.2s ease;
  color: var(--color-visited);
}

.line-1,
.line-2,
.line-3 {
  position: absolute;
  height: 1px;
  width: 24px;
  right: 0;
  background-color: var(--text-primary);
}

.line-1 {
  top: 8px;
}

.line-2 {
  bottom: 8px;
}

.line-3 {
  top: 50%;
}

.nav-modal {
  display: none;
  transition: all 0.2s ease;
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-hover);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav-modal.nav-show {
  display: flex;
  transition: all 1s ease;
  opacity: 1;
  animation-name: fadeIn;
  animation-duration: 0.2s;
}

.nav-modal .nav-links {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav-modal a {
  color: var(--text-secondary);
}

.nav-modal a:hover {
  color: var(--color-primary);
}
