<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bundle.css" />
    <title>GABRIEL DEV</title>
  </head>
  <body>
    <div class="body-container">
      <header class="header">
        <a class="logo" href="/">
          <svg>
            <use xlink:href="/logo.svg#img" href="/logo.svg#img"></use>
          </svg>
          <span>GABRIEL NS</span
          ><span class="RobotoMono" style="translate: -2px -2px">|</span
          ><span class="RobotoMono" style="translate: -4px -1px">dev</span></a
        >
        <ul>
          <a href="/">Home</a>
          <span class="bar">|</span>
          <a href="/tutorials">Tutorials</a>
          <span class="bar">|</span>
          <a href="/about">About</a>
        </ul>
        <ul>
          <a
            class="icon"
            href="https://www.linkedin.com/in/gabrielbrise/"
            target="_blank"
          >
            <i class="fa fa-linkedin"></i>
          </a>
          <a class="icon" href="https://github.com/gabrielbrise"
            ><i class="fa fa-github"></i>
          </a>
        </ul>
      </header>
      <main>{{ content }}</main>
    </div>
  </body>
  <footer>
    <script
      src="https://kit.fontawesome.com/788e4ddebb.js"
      crossorigin="anonymous"
    ></script>
  </footer>
</html>
