<header>
  <div class="header header-desktop">
    {% include 'logo.html' %}
    <ul>
      <a href="/">Home</a>
      <span class="bar">|</span>
      <a href="/tutorials">Tutorials</a>
      <span class="bar">|</span>
      <a href="/about">About</a>
    </ul>
    <ul>
      <a
        class="icon"
        href="https://www.linkedin.com/in/gabrielbrise/"
        target="_blank"
      >
        <i class="fa fa-linkedin"></i>
      </a>
      <a class="icon" href="https://github.com/gabrielbrise"
        ><i class="fa fa-github"></i>
      </a>
    </ul>
  </div>
  <div class="header header-mobile">
    {% include 'logo.html' %} {% include 'nav-btn.html' %}
  </div>
</header>
