<div class="supporter" style="padding-top: 48px">
  <p style="max-width: 600px">
    Did you find this article to be useful? Help me continue this blog by
    supporting me. I'll be really grateful :)
  </p>
  <script
    type="text/javascript"
    src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
    data-name="bmc-button"
    data-slug="gabrielbrise"
    data-color="#FFDD00"
    data-emoji=""
    data-font="Cookie"
    data-text="Buy me a coffee"
    data-outline-color="#000000"
    data-font-color="#000000"
    data-coffee-color="#ffffff"
  ></script>
</div>
