<div class="footer-content">
  <div class="footer-links">
    <ul>
      <li><a href="/">Home</a>|</li>
      <li><a href="/tutorials">Tutorials</a>|</li>
      <li><a href="/about">About</a>|</li>
    </ul>
  </div>
  <div class="footer-disclaimer" style="padding-left: 32px">
    <div class="footer-logo">
      <svg>
        <use
          xlink:href="assets/logo-lines.svg#logo-lines"
          href="assets/logo-lines.svg#logo-lines"
        ></use>
      </svg>
    </div>
    <p>All rights reserved</p>
  </div>
</div>
