@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Mono:wght@400&display=swap");

:root {
  --text-primary: #0e0e0e;
  --text-secondary: #fefefe;
  --color-primary: #fa0f5a;
  --bg-primary: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.RobotoMono {
  font-family: "Roboto Mono", monospace;
}

body {
  font-family: "Roboto Mono", monospace;
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-primary);
}

.body-container {
  max-width: 900px;
}

.icon {
  height: 24px;
}

a {
  color: var(--text-primary);
  text-decoration: none;
}

a:visited {
  color: var(--text-primary);
}

a:hover,
.logo:hover {
  color: var(--color-primary);
}

.post-card {
  border-left: 2px solid black;
  padding-left: 8px;
  color: var(--text-primary);
}

.post-card p {
  color: var(--text-primary);
}

a:hover .post-card {
  color: var(--color-primary);
  border-left-color: var(--color-primary);
}

@media screen and (max-width: 719px) {
  .body-container {
    max-width: 80vw;
  }
}

.overflow-h {
  overflow: hidden;
}
